{% extends('base.html.twig') %}
{% block body %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>{{ profile.bio }}</p>
            </div>

{#            <div class="row">#}
{#                <div class="col-lg-4" data-aos="fade-right">#}
{#                    <img src="{{ asset('uploads/profiles/linkedin-profiler-65de0830390aa.jpg') }}" class="img-fluid" alt="">#}
{#                </div>#}
{#                <div class="col-lg-8 pt-4 pt-lg-0 content  mt-5" data-aos="fade-left">#}
{#                    <h3>PHP Developer.</h3>#}

{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <ul>#}
{#                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>#}
{#                                    <span>{{ profile.phone }}</span></li>#}
{#                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>#}
{#                                    <span>{{ profile.email }}</span></li>#}
{#                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong>#}
{#                                    <span>{{ profile.location }}</span></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <ul>#}
{#                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>#}
{#                                    <span>January 1st</span></li>#}
{#                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor's</span>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}
{#            </div>#}

        </div>
    </section><!-- End About Section -->

    <!-- ======= Soft Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Soft Skills</h2>
                <p>While technical skills are crucial for writing code and building software,
                    soft skills complement these abilities by enhancing communication, collaboration,
                    and overall effectiveness within a team and with clients.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">Communication <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Problem-Solving <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                 aria-valuemax="95"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Time-Management <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                 aria-valuemax="95"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">Passion <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="800"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Critical thinking <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                 aria-valuemax="95"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Constant improvement <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- End Soft Skills Section -->


{#    <!-- ======= Contact Section ======= -->#}
{#    <section id="contact" class="contact">#}
{#        <div class="container">#}

{#            <div class="section-title">#}
{#                <h2>Contact</h2>#}
{#                <p>Hello there! 🌟#}

{#                    I'm excited to connect with you!#}
{#                    Whether you have questions about opportunities, want to discuss potential collaborations,#}
{#                    or simply want to say hello, I'm all ears! Below you'll find my contact details.</p>#}
{#            </div>#}

{#            <div class="row" data-aos="fade-in">#}

{#                <div class="col-lg-5 d-flex align-items-stretch">#}
{#                    <div class="info">#}
{#                        <div class="address">#}
{#                            <i class="bi bi-geo-alt"></i>#}
{#                            <h4>Location:</h4>#}
{#                            <p>{{ profile.location }}</p>#}
{#                        </div>#}

{#                        <div class="email">#}
{#                            <i class="bi bi-envelope"></i>#}
{#                            <h4>Email:</h4>#}
{#                            <p>{{ profile.email }}</p>#}
{#                        </div>#}

{#                        <div class="phone">#}
{#                            <i class="bi bi-phone"></i>#}
{#                            <h4>Call:</h4>#}
{#                            <p>{{ profile.phone }}</p>#}
{#                        </div>#}

{#                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90386.#}
{#                        12641561907!2d25.927491691008804!3d44.93215152361023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.#}
{#                        1!3m3!1m2!1s0x40b249f6a8d6eff7%3A0xb3fe6965e659119!2zUGxvaWXImXRp!5e0!3m2!1sro!2sro!4v1709210153571!5m2!1sro!2sro"#}
{#                                width="450"#}
{#                                height="500"#}
{#                                style="border:0;"#}
{#                                allowfullscreen=""#}
{#                                loading="lazy"#}
{#                                referrerpolicy="no-referrer-when-downgrade">#}

{#                        </iframe>#}
{#                    </div>#}

{#                </div>#}


{#            </div>#}

{#        </div>#}
{#    </section><!-- End Contact Section -->#}

    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
