{% extends('base.html.twig') %}

{% block body %}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="mb-8 p-4">
                {% block bread %}
                    → <a href="{{ path('app_profile') }}">Profile</a> → Resume
                {% endblock %}
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Victoria Lazar</h4>
                        <p><em>{{ resume.summary }}</em></p>
                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Skills</h3>
                        <div class="resume-item pb-0">
                            <p><em>{{ resume.skills }}</em></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item pb-0">
                        <p><em>{{ resume.professionalExperience }}</em></p>
                    </div>
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item pb-0">
                        <p><em>{{ resume.education }}</em></p>
                    </div>
                    <p>Download full resume <a href="{{ path('app_resume_download') }}" target="_blank">here</a></p>
                </div>

            </div>
        </div>

        <script src="{{ asset('assets/js/main.js') }}"></script>
    </section>

{% endblock %}