<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{ asset('uploads/profiles/linkedin-profiler-65de0830390aa.jpg') }}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{{ path('app_profile') }}">Victoria Lazar</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.linkedin.com/in/victoria-lazar01/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/Victoria-ElenaLazar" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://www.facebook.com/victoria.elena.127" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>

            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="{{ path('app_profile') }}" class="nav-link scrollto "><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="{{ path('app_resume')}}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="{{ path('app_projects')}}" class="nav-link scrollto" id="portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                <li><a href="{{ path('app_recommendations')}}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Recommendations</span></a></li>
                <li><a href="{{ path('app_contact') }}" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<script>
    // Get the current URL path
    var path = window.location.pathname;

    // Find the corresponding link and add the 'active' class
    document.querySelectorAll('.nav-link').forEach(function (link) {
        if (link.getAttribute('href') === path) {
            link.parentNode.classList.add('active');
            link.classList.add('active');
        }
    });
</script>
